header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #121b2a;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  padding-right: 1.5rem;
}

.header-social-media-links a {
  transition: all 1s;
}


.header-social-media-links a:hover {
  color: #158bd9;
}

.header-logo {
  width: 60%;
  transition: all .6s;
}

.header-logo:hover{
  scale: 1.1;
}

.header-icons {
  font-size: 1.4rem;
}