@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Sora", "Noto Sans JP", sans-serif;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  background-color: #020d1f;
  /* height: 100vh; */
  color: white;
}

.slick-dots li.slick-active button:before {
  opacity: 100%;
  color: #158bd9;
}

.slick-dots li button:before {
  opacity: 50%;
  color: rgb(255, 255, 255);
}

a {
  color: white;
  text-decoration: none;
}

li, a, button {
  cursor: pointer;
}
